
.sidebar{
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
}


.sidebar .nav-link {
  padding-top:5px;
}

.sidebar .nav-link {color:#A9ACC1;}
.sidebar .nav-link:hover {color: #686F76}    