body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-color: #d0e4fe;

}
.cas{
  background-color:#3097D1
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
